<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net471" />
  <package id="GreenPipes" version="2.1.3" targetFramework="net471" />
  <package id="MassTransit" version="5.1.5" targetFramework="net471" />
  <package id="NewId" version="3.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Voogd.Library.Messaging" version="2.2.5.0" targetFramework="net471" />
  <package id="Voogd.Library.Messaging.MassTransit" version="2.2.2.0" targetFramework="net471" />
</packages>