<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net471" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net471" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net471" />
  <package id="GreenPipes" version="2.1.2" targetFramework="net471" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net471" />
  <package id="Magnum" version="2.1.3" targetFramework="net471" />
  <package id="NewId" version="3.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="NHibernate" version="5.2.1" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Voogd.Library.Attributes" version="1.1.1.0" targetFramework="net471" />
  <package id="Voogd.Library.DomainBase" version="1.1.1.0" targetFramework="net471" />
  <package id="Voogd.Library.DomainBase.Dispatcher" version="1.1.1.1" targetFramework="net471" />
  <package id="Voogd.Library.DomainBase.Messaging" version="1.2.1" targetFramework="net471" />
  <package id="Voogd.Library.DomainBase.NHibernate" version="1.1.3.0" targetFramework="net471" />
  <package id="Voogd.Library.Extensions" version="1.1.1.0" targetFramework="net471" />
  <package id="Voogd.Library.Messaging" version="2.2.5.0" targetFramework="net471" />
</packages>